<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs", {style: "product-styles", title: " - Crear Producto"})%>
	<body>
		<%- include("../partials/header.ejs")%>
		<main></main>
		<%- include("../partials/footer.ejs")%>
		<%- include("../partials/scripts.ejs")%>
	</body>
</html>
