<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Las Violetas</title>
	</head>
	<body>
		<header>
			<nav class="navbar">
				<a href="#" class="usericon"></a>
				<img src="/images/logo.png" alt="Logo Las Violetas" />
				<a href="#" class="shopping-cart"></a>
				<a href="#" class="menu"></a>
			</nav>
		</header>
		<main>
			<h1 class="title">Las Violetas</h1>
			<p class="description">
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum autem
				exercitationem, doloremque tempore consequatur laudantium.
			</p>
			<div class="container">
				<div class="carrousel">
					<a href="" class="prev-image"></a>
					<img src="/images/image1.png" alt="" class="carrousel-image" />
					<a href="" class="next-image"></a>
				</div>
				<p class="description">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore in
					similique quibusdam optio repudiandae ipsa consequatur nemo sunt?
					Nulla amet eos magnam accusantium repellendus. Ad, inventore sapiente!
					Fuga, eos temporibus?
				</p>
			</div>
		</main>
        <section class="rooms-activities">
            <div class="tabbar">
                <input type="radio" name="tab" id="rooms-tab" checked />
                <label for="rooms-tab">
                    <div class="rooms-tab">
                        <span class="rooms">Habitaciones</span>
                    </div>
                </label>
                <input type="radio" name="tab" id="activities-tab" />
                <label for="activities-tab">
                    <div class="activities-tab">
                        <span class="rooms">Actividades</span>
                    </div>
                </label>
            </div>
        </section>
	</body>
</html>
