<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="stylesheet" href="/css/style.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
			rel="stylesheet"
		/>

		<title>Las Violetas</title>
	</head>
	<body>
		<header>
			<div class="nav-icons">
				<a href="#" class="user-link">
					<i class="fa-solid fa-user usericon"></i>
					<i class="fa-solid fa-angle-down arrow-icon"></i>
				</a>
				<!-- <div class="logo-container"> -->
				<img
					class="logo"
					src="/images/logo-small.png"
					alt="Logo Las Violetas"
				/>
				<!-- <span class="logo-text">Las Violetas</span> -->
				<!-- </div> -->
				<div>
					<a href="#" class="shopping-cart">
						<i class="fa-solid fa-cart-shopping shopping-cart-icon"></i>
					</a>
				</div>
				<div><i class="fas fa-bars menu-btn"></i></div>
			</div>
			<nav class="nav">
				<div><i class="fa-solid fa-xmark close-menu"></i></div>
				<ul class="menu-list">
					<li><a href="#" class="menu-link">Inicio</a></li>
					<li><a href="#" class="menu-link">Habitaciones</a></li>
					<li><a href="#" class="menu-link">Actividades</a></li>
					<li><a href="#" class="menu-link">Contacto</a></li>
					<li>
						<a href="#" class="menu-link">
							<div class="menu-link-cart">
								<i class="fa-solid fa-cart-plus menu-cart"></i>
								<span>Carrito</span>
							</div>
						</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h1 class="title">Las Violetas</h1>
			<p class="description">
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum autem
				exercitationem, doloremque tempore consequatur laudantium.
			</p>
			<div class="container">
				<div class="image-container">
					<img src="/images/front.jpg" alt="" class="first-image" />
				</div>
				<p class="description">
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure sed
					ratione aut distinctio sint nostrum maiores minima commodi ullam
					repellendus!
				</p>
			</div>
		</main>
		<section class="rooms-activities">
			<div class="tabbar">
				<div class="tab active" id="roomstab">
					<p class="tab-label">Habitaciones</p>
				</div>
				<div class="tab" id="activitiestab">
					<p class="tab-label">Actividades</p>
				</div>
			</div>
			<div class="options container" id="rooms">
				<p class="option selected-option">01 Habitacion</p>
				<p class="option">02 Habitacion</p>
				<p class="option">03 Habitacion</p>
				<p class="option">04 Habitacion</p>
				<p class="option">05 Habitacion</p>
				<p class="option">06 Habitacion</p>
			</div>
			<div class="options container hidden" id="activities">
				<p class="option selected-option">01 Actividad</p>
				<p class="option">02 Actividad</p>
				<p class="option">03 Actividad</p>
				<p class="option">04 Actividad</p>
				<p class="option">05 Actividad</p>
				<p class="option">06 Actividad</p>
			</div>
			<div class="container">
					<div class="carrousel-button">
						<a href="" class="prev-image">
							<i class="fa-solid fa-caret-left prev-button"></i>
						</a>
					</div>
					<div class="image-container">
						<img src="/images/apartment-1.jpg" alt="" class="carrousel-image" />
					</div>
					<div class="carrousel-options">
						<span class="image-selector selected-image"></span>
						<span class="image-selector"></span>
						<span class="image-selector"></span>
						<span class="image-selector"></span>
						<span class="image-selector"></span>
					</div>
					<div class="carrousel-button">
						<a href="" class="next-image">
							<i class="fa-solid fa-caret-right next-button"></i>
						</a>
					</div>
				</div>
				<h3 class="titulo">Habitacion/Actividad</h3>
				<p class="description">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore in
					similique quibusdam optio repudiandae ipsa consequatur nemo sunt?
					Nulla amet eos magnam accusantium repellendus. Ad, inventore sapiente!
					Fuga, eos temporibus?
				</p>
				<span class="icon amenity-bed"></span>
				<span class="icon amenity-sofa"></span>
				<span class="icon amenity-key"></span>
				<button class="detail-button">Ver detalle completo</button>
		</section>
		<section class="location">
			<div class="tabbar">
				<div class="tab active">
					<p class="tab-label">Desde el aeropuerto</p>
				</div>
				<div class="tab">
					<p class="tab-label">Desde CABA</p>
				</div>
			</div>
			<div class="container">
				<p class="description">
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque
					adipisci quam provident eos necessitatibus impedit consequatur optio
					minus earum ea.around
				</p>
				<a href="#" class="location-text">
					<i class="fa-solid fa-location-dot location-icon"></i>
					<h3 class="maps">Ver en Google Maps</h3>
				</a>
				<div class="weather">
					<div class="weather-option">
						<span class="day">Dom</span>
						<div class="weather-icon-container">
							<img
								class="weather-icon"
								src="/images/weather-icons/storm.png"
								alt="Icono de tormenta"
							/>
						</div>
						<span class="temperature">21°C / 25°C</span>
					</div>
					<div class="weather-option">
						<span class="day">Lun</span>
						<div class="weather-icon-container">
							<img
								class="weather-icon"
								src="/images/weather-icons/rain.png"
								alt="Icono de lluvia"
							/>
						</div>
						<span class="temperature">21°C / 28°C</span>
					</div>
					<div class="weather-option">
						<span class="day">Mar</span>
						<div class="weather-icon-container">
							<img
								class="weather-icon"
								src="/images/weather-icons/sunny.png"
								alt="Icono de sol"
							/>
						</div>
						<span class="temperature">25°C / 33°C</span>
					</div>
					<div class="weather-option">
						<span class="day">Mie</span>
						<div class="weather-icon-container">
							<img
								class="weather-icon"
								src="/images/weather-icons/cloudy.png"
								alt="icono de nubes"
							/>
						</div>
						<span class="temperature">22°C / 28°C</span>
					</div>
					<div class="weather-option">
						<span class="day">Jue</span>
						<div class="weather-icon-container">
							<img
								class="weather-icon"
								src="/images/weather-icons/partially-cloudy.png"
								alt="Icono de nube con sol"
							/>
						</div>
						<span class="temperature">25°C / 30°C</span>
					</div>
					<div class="weather-option">
						<span class="day">Vie</span>
						<div class="weather-icon-container">
							<img
								class="weather-icon"
								src="/images/weather-icons/sunny.png"
								alt="Icono de sol"
							/>
						</div>
						<span class="temperature">25°C / 33°C</span>
					</div>
					<div class="weather-option">
						<span class="day">Sab</span>
						<div class="weather-icon-container">
							<img
								class="weather-icon"
								src="/images/weather-icons/cloudy.png"
								alt="icono de nubes"
							/>
						</div>
						<span class="temperature">22°C / 28°C</span>
					</div>
				</div>
			</div>
		</section>
		<footer>
			<div class="logo-address">
				<a href="/">
					<img
						class="logo-footer"
						src="/images/logo.png"
						alt="Logo Las Violetas"
					/>
				</a>
				<span>Calle Falsa 123, Springfield</span>
			</div>
			<div class="social-icons">
				<a class="facebook" href="https://facebook.com">
					<i class="fa-brands fa-facebook social-icon"></i>
				</a>
				<a class="twitter" href="https://twitter.com">
					<i class="fa-brands fa-twitter social-icon"></i>
				</a>
				<a class="email" href="mailto://mail@mail.com">
					<i class="fa-regular fa-envelope social-icon"></i>
				</a>
			</div>
		</footer>
		<script src="/js/script.js"></script>
	</body>
</html>
