<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/form-styles.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
			rel="stylesheet"
		/>
		<title>Las Violetas - Login</title>
	</head>
	<body>
		<header>
			<div class="nav-icons">
				<a href="#" class="user-link">
					<i class="fa-solid fa-user usericon"></i>
				</a>
				<div class="logo">
					hola
					<!-- <img src="/images/logo.png" alt="Logo Las Violetas" /> -->
				</div>
				<a href="#" class="shopping-cart">
					<i class="fa-solid fa-cart-shopping shopping-cart-icon"></i>
				</a>
				<i class="fas fa-bars menu-btn"></i>
			</div>
			<nav class="nav">
				<i class="fa-solid fa-xmark close-menu"></i>
				<ul class="menu-list">
					<li><a href="#" class="menu-link">Inicio</a></li>
					<li><a href="#" class="menu-link">Habitaciones</a></li>
					<li><a href="#" class="menu-link">Actividades</a></li>
					<li><a href="#" class="menu-link">Contacto</a></li>
					<li>
						<a href="#" class="menu-link">
							<div class="menu-link-cart">
								<i class="fa-regular fa-cart-plus menu-cart"></i>Carrito
							</div>
						</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
      <div class="form-login">
        <h5>Bienvenidos a Las Violetas</h5>
			<form action="/login" method="POST">
				<label for="email"></label>
				<input class="controls"
					type="text"
					name="email"
					id="email"
					placeholder="E-mail"
					required
				/>
				<label for="password"></label>
				<input
					id="password"
					name="password"
					type="password"
					class="controls"
					placeholder="Contraseña"
					required
				/>
			<button class="button" type="submit"><h3>Iniciar Sesión</h3></button>
				<button class="button" type="reset"><h3>Cancelar</h3></button>
			</form>
	<section><a href="#">¿Olvidó su contraseña?</a>Restablezcala</section>	
    <section><a href="#">¿No tenés cuenta?</a>REGISTRATE</section>
  </div>
		</main>
		<footer>
			<div class="logo-address">
				<!-- <a href="../views/home.html"
					><img src="/images/logo.png" alt="Logo Las Violetas"
				/></a> -->
				Logo
				<span>Lorem ipsum dolor sit amet.</span>
			</div>
			<div class="social-icons">
				<a class="facebook" href="https://facebook.com">
					<i class="fa-brands fa-facebook social-icon"></i>
				</a>
				<a class="twitter" href="https://twitter.com">
					<i class="fa-brands fa-twitter social-icon"></i>
				</a>
				<a class="email" href="mailto://mail@mail.com">
					<i class="fa-regular fa-envelope social-icon"></i>
				</a>
			</div>
		</footer>
		<script src="/js/script.js"></script>
	</body>
</html>
