<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/product-styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet"
    />
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        rel="stylesheet"
    />

    <title>Las Violetas - Carrito de compras</title>
</head>
<body>
    <header>
        <div class="nav-icons">
            <!-- Icono de usuario y fecha -->
            <a href="#" class="user-link"> 
                <i class="fa-solid fa-user usericon"></i>
                <i class="fa-solid fa-angle-down arrow-icon"></i>
            </a>
            <!-- Logo de las violetas -->
            <img
                class="logo"
                src="/images/logo-small.png"
                alt="Logo Las Violetas"
            /> 
            <!-- Icono de carrito -->
            <div>
                <a href="#" class="shopping-cart">
                    <i class="fa-solid fa-cart-shopping shopping-cart-icon"></i>
                </a>
            </div>
            <!-- Menu hamburguesa -->
            <div><i class="fas fa-bars menu-btn"></i></div>
        </div>
        <nav class="nav">
            <div><i class="fa-solid fa-xmark close-menu"></i></div>
            <ul class="menu-list">
                <li><a href="#" class="menu-link">Inicio</a></li>
                <li><a href="#" class="menu-link">Habitaciones</a></li>
                <li><a href="#" class="menu-link">Actividades</a></li>
                <li><a href="#" class="menu-link">Contacto</a></li>
                <li>
                    <a href="#" class="menu-link">
                        <div class="menu-link-cart">
                            <i class="fa-solid fa-cart-plus menu-cart"></i>
                            <span>Carrito</span>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2 class="shopping-cart-title">Carrito de compras</h2>
        <article class="article-container">
            <div class="article-image">
                <img class="tiny-image"                    
                    src="/images/habitacion1.jpg"
                    alt="Habitacion Las Lavandas"
                />
            </div>
            <div class="article-description">
                Habitación doble de 40m² con baño privado. 
            </div>
            <div class="action-buttons">
                <div class="incremental-buttons">
                    <span class="cart-icon-section">
                        <button class="cart-button"><i class="fa-solid fa-minus cart-icon"></i></button>
                    </span>
                    <div class="cart-icon-quantity">
                        <p>1</p>
                    </div>
                    <span class="cart-icon-section">
                        <button class="cart-button"><i class="fa-solid fa-plus cart-icon"></i></button>
                    </span>
                </div>
                <div class="edit-remove-buttons">
                    <button class="cart-button"><i class="fa-solid fa-pen-to-square cart-icon"></i></button>
                    <button class="cart-button"><i class="fa-solid fa-trash-can cart-icon"></i></button>
                </div>
            </div>
        </article>
        <article class="article-container">
            <div class="article-image">
                <img class="tiny-image"                    
                    src="/images/masaje.jpg"
                    alt="Masaje con piedras calientes"
                />
            </div>
            <div class="article-description">
                Masajes con piedras calientes
            </div>
            <div class="action-buttons">
                <div class="incremental-buttons">
                    <span class="cart-icon-section">
                        <button class="cart-button"><i class="fa-solid fa-minus cart-icon"></i></button>
                    </span>
                    <div class="cart-icon-quantity">
                        <p>2</p>
                    </div>
                    <span class="cart-icon-section">
                        <button class="cart-button"><i class="fa-solid fa-plus cart-icon"></i></button>
                    </span>
                </div>
                <div class="edit-remove-buttons">
                    <button class="cart-button"><i class="fa-solid fa-pen-to-square cart-icon"></i></button>
                    <button class="cart-button"><i class="fa-solid fa-trash-can cart-icon"></i></button>
                </div>
            </div>
        </article>
        <article class="article-container">
            <div class="article-image">
                <img class="tiny-image"                    
                    src="/images/yoga.jpg"
                    alt="Clase de Yoga"
                />
            </div>
            <div class="article-description">
               Clase de Yoga y relajación con cuencos tibetanos. 
            </div>
            <div class="action-buttons">
                <div class="incremental-buttons">
                    <span class="cart-icon-section">
                        <button class="cart-button"><i class="fa-solid fa-minus cart-icon"></i></button>
                    </span>
                    <div class="cart-icon-quantity">
                            <p>2</p>
                    </div>
                    <span class="cart-icon-section">
                        <button class="cart-button"><i class="fa-solid fa-plus cart-icon"></i></button>
                    </span>
                </div>
                <div class="edit-remove-buttons">
                    <button class="cart-button"><i class="fa-solid fa-pen-to-square cart-icon"></i></button>
                    <button class="cart-button"><i class="fa-solid fa-trash-can cart-icon"></i></button>
                </div>
            </div>
        </article>
        <hr>
        <section class="cart-total-cost">
            <h3>
                Total
            </h3>
            <span>
                $100.000
            </span>
        </section>
        <section class="cart-total-cost">
            <a href="#"> Volver</a>
            <button>
                Iniciar reserva
            </button>
        </section>
    </main>
    <footer class="cart-footer">
        <div class="logo-address">
            <a href="/">
                <img
                    class="logo-footer"
                    src="/images/logo.png"
                    alt="Logo Las Violetas"
                />
            </a>
            <span>Calle Falsa 123, Springfield</span>
        </div>
        <div class="social-icons">
            <a class="facebook" href="https://facebook.com">
                <i class="fa-brands fa-facebook social-icon"></i>
            </a>
            <a class="twitter" href="https://twitter.com">
                <i class="fa-brands fa-twitter social-icon"></i>
            </a>
            <a class="email" href="mailto://mail@mail.com">
                <i class="fa-regular fa-envelope social-icon"></i>
            </a>
        </div>
    </footer>
    <script src="/js/script.js"></script>    
</body>
</html>