<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="stylesheet" href="/css/style.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
			rel="stylesheet"
		/>

		<title>Las Violetas</title>
	</head>
	<main>
	<nav><form action="/register" method="POST">
        
    
		<h5>Crea tu cuenta</h5>
	  
	<p>
	  <label>Nombre de usuari@:</label>
	  <input type="text" name="nombre de usuario" required>
	</p>
	<p>
	  <label>Fecha de nacimiento:</label>
	  <input type="date" name="fecha de nacimiento" required>
	</p>
	<p>
	  <label>Domicilio:</label>
	  <input type="text" name="Domicilio" placeholder="calle y numero" required>
	</p>

	<p>
	  <label>E-mail:</label>
	  <input type="email" name="email" required>
	</p>
	<input type="text" name="dni" placeholder="introduzca su DNI" pattern="[0-9]{8}" title="Debe poner 8 números">
	<input type="submit" name="" value="Enviar">
	<input type="reset" name="" value="Atrás">
</nav>
</main>