* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

main {
	display: flex;
	flex-direction: column;
	margin-bottom: 8rem;
	justify-content: center;
	align-items: center;
}

.form-container {
	width: 100%;
	background: rgb(var(--clr-bg));
	margin-inline: auto;
	margin-top: 1.5rem;
	box-shadow: 5px 5px 10px rgb(var(--clr-dark), 0.5);
	padding: 1rem 30px;
	border-radius: 1em;
	border: 1px solid rgb(var(--clr-dark));
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

input[type="file"]::-webkit-file-upload-button {
	border: none;
	background: rgb(var(--clr-accent));
	color: #fff;
	font-size: 1em;
	border-radius: 20px;
}

.login-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 10vh;
}

.form-container h5 {
	margin-top: 10px;
	text-align: center;
	margin-bottom: 10px;
	color: rgb(var(--clr-dark));
	font-size: 20px;
}

.controls {
	width: 100%;
	border: 1px solid rgb(var(--clr-dark));
	border-radius: 5px;
	/* margin-bottom: 10px; */
	padding: 8px;
	background: white;
}
.products-title {
	margin-block: 1.5rem;
}

.button {
	width: 100%;
	border-radius: 4rem;
	background-color: rgb(var(--clr-accent));
	margin-bottom: 10px;
	padding: 0.25rem;
	cursor: pointer;
	border: none;
	outline: none;
	color: rgb(var(--clr-bg));
	font-size: 1.25rem;
}

.create-container {
	width: 80%;
}
.form-fields {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 0.5rem;
}

.button h3 {
	color: rgb(var(--clr-accent));
}

.form-container a:hover {
	color: blue;
}

.form-container button h3 {
	color: white;
}

.form-container section {
	text-align: center;
}

.has-account {
	text-align: center;
}

.has-acccount-link,
.form-questions a {
	color: rgb(var(--clr-accent));
	filter: brightness(0.8);
	font-size: 16px;
}

.has-account-link:hover {
	color: blue;
}

.forgot-password {
	margin-top: 0.75rem;
	margin-bottom: 0.25rem;
}

.form-questions {
	margin-bottom: 0.75rem;
}

::placeholder {
	text-align: center;
}

.login-button {
	margin-top: 1rem;
}

.login-footer {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.services {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-block: 0.5rem;
}

.image-container > img {
	display: block;
	padding: 0;
	margin: 0 auto;
	width: 60%;
}

.button-text {
	font-size: 1rem;
	text-align: center;
}

.profile-back-link {
	text-decoration: none;
	color: rgb(var(--clr-bg));
	text-align: center;
}

.password-fields {
	margin-top: 0.5rem;
	display: none;
}
#change-password {
	margin-bottom: 1rem;
}
#change-password:checked {
	margin-bottom: 0;
}
#change-password:checked ~ #change-password-label ~ .password-fields {
	display: flex;
	flex-direction: column;
}

.input-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.error {
	color: var(--clr-red);
}
.input-error {
	border-color: var(--clr-red);
}

.input-error::after {
	content: "hola";
}

@media (min-width: 480px) {
	.form-container {
		margin-top: 7rem;
	}
}
@media (min-width: 768px) {
	.form-container {
		margin-top: 10rem;
		width: 50vw;
	}
	.login-form {
		width: 100%;
		margin-top: 5vh;
		margin-inline: auto;
	}

	.edit-profile-container {
		width: 70vw;
	}

	.edit-profile {
		display: flex;
		flex-direction: row;
	}

	.image-container {
		align-self: center;
		margin-bottom: 4rem;
		margin-right: 1rem;
		width: 100%;
		height: 21rem;
	}
	.image-container > img {
		width: 100%;
		height: 100%;
	}

	.button-container {
		display: flex;
		gap: 1rem;
		justify-content: flex-end;
		margin-top: 1rem;
	}

	.profile-button {
		width: initial;
		align-self: center;
		padding-block: 0.5rem;
		padding-inline: 1rem;
		/* width: 5rem; */
	}
	.profile-button-save {
		padding-inline: 1.5rem;
	}
}
@media (min-width: 1200px) {
	.form-container {
		width: 45vw;
	}
	.login-form {
		width: 40vw;
	}
	.image-container {
		width: 50%;
	}
	.edit-profile-container {
		width: 55vw;
	}
}
