<footer>
    <div class="logo-address">
        <a href="/">
            <img
                class="logo-footer"
                src="/images/logo.png"
                alt="Logo Las Violetas"
            />
        </a>
        <span>Calle Falsa 123, Springfield</span>
    </div>
    <div class="social-icons">
        <a class="facebook" href="https://facebook.com">
            <i class="fa-brands fa-facebook social-icon"></i>
        </a>
        <a class="twitter" href="https://twitter.com">
            <i class="fa-brands fa-twitter social-icon"></i>
        </a>
        <a class="email" href="mailto://mail@mail.com">
            <i class="fa-regular fa-envelope social-icon"></i>
        </a>
    </div>
</footer>