<header>
    <div class="nav-icons">
        <a href="/users/login" class="user-link">
            <i class="fa-solid fa-user usericon"></i>
            <span>Ingresar</span>
        </a>
        <div class="logo-link">
            <a href="/">
                <img
                    class="logo"
                    src="/images/logo-small.png"
                    alt="Logo Las Violetas"
                />
            </a>
        </div>
        <div>
            <a href="/products/cart" class="shopping-cart">
                <i class="fa-solid fa-cart-shopping shopping-cart-icon"></i>
            </a>
        </div>
        <div><i class="fas fa-bars menu-btn"></i></div>
    </div>
    <nav class="nav">
        <div><i class="fa-solid fa-xmark close-menu"></i></div>
        <ul class="menu-list">
            <li><a href="/" class="menu-link">Inicio</a></li>
            <li><a href="/products/rooms" class="menu-link">Habitaciones</a></li>
            <li><a href="/products/activities" class="menu-link">Actividades</a></li>
            <li><a href="#" class="menu-link">Contacto</a></li>
            <li>
                <a href="/products/cart" class="menu-link">
                    <div class="menu-link-cart">
                        <i class="fa-solid fa-cart-plus menu-cart"></i>
                        <span>Carrito</span>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</header>