<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs", {style: "form-styles", title: " - Iniciar Sesión"})%>
	<body>
	<%- include("../partials/header.ejs")%>
		<div class="page-container">
			<main>
			<div class="form-container">
					<form action="/users/login" method="POST">
						<div class="login-form">
							<h5>Bienvenidos a Las Violetas</h5>
							<div class="field-container">
								<label for="email">E-mail</label>
								<input
									class="controls"
									type="text"
									name="email"
									id="email"
									placeholder="E-mail"
									required
								/>
							</div>
							<div class="field-container">
								<label for="password">Contraseña</label>
								<input
									id="password"
									name="password"
									type="password"
									class="controls"
									placeholder="Contraseña"
									required
								/>
							</div>
							<div class="field-container">
								<label for="rememberme">
									<input type="checkbox" name="rememberme" id="rememberme">
									Recordarme
								</label>
							</div>
							<button class="button login-button" type="submit"><h3>Iniciar Sesión</h3></button>
							<button class="button" type="reset"><h3>Cancelar</h3></button>
						</div>
					</form>
					<section class="form-questions">
						<div class="forgot-password">
							<span>¿Olvidó su contraseña?</span>
							<a class="forgot-password-link" href="/users/forgot-password">Restablezcala</a>
						</div>
						<div class="create-account">
							<span>¿No tiene una cuenta?</span>
							<a class="create-account-link" href="/users/register">Registrese</a>
						</div>
					</section>
			</div>
			</main>
		</div>
		<%- include("../partials/footer.ejs")%>
		<%- include("../partials/scripts.ejs")%>
	</body>
</html>
